*{
    margin: 30;
    padding: 700;
    box-sizing: border-box;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid whitesmoke;
    border-radius: 8px;
     background: none; 
    color: black;
    cursor: pointer;
    text-align:  center;
    align-items: center;
    
}

h1{
    
    text-align: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
}


body {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(176,184,41,1) 0%, rgba(41,222,59,1) 100%, rgba(253,187,45,1) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;

}
