
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        padding-top: 20%;
    }
    h1 {
        margin: 10% 0;
    }
    input {
        padding: 10px;
        border-radius: 10px;
        outline: none !important;
    }
    
    .btn {
        padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid whitesmoke;
        border-radius: 8px;
         background: none; 
        color: black;
        cursor: pointer;
    }