
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

 body {
    
    border: 8px solid whitesmoke; 
    border-radius: 3px; 
    margin: 6;
    background: black; 
    color: black;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .btn {
    background: none; 
    color: black;
    cursor: pointer;
    text-align: center;
    size: 0;
    height: 300px;
 }

 img {
    border-image: round;
    margin-bottom: 12;
 }

 





