
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

 body{
    
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 23;
     background: black; 
    color: black;
    cursor: pointer;
    text-align: center;
 }

 .btn{
    
    border: 2px solid whitesmoke;
    border-radius: 8px;
     background: none; 
    color: black;
    cursor: pointer;
    text-align: center;

 }





