* {
    margin: 0;
    padding: 0;

}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    Cursor: pointer;

}

.rightnav {
    width: 40%;
    text-align: right;
}

.background {
    background-color: violet;
    background-blend-mode: darken;
    background-size: cover ;

}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

#search {
    padding: 15px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 9px;
}

.nav-list {
    list-style: none;
    padding: 30px 32;
}

.nav-list li a {
    text-decoration: tan;
}

.body {
    background: peachpuff;
    
}

.firstsection {
    background-color:peachpuff;
    height: 150px;
}

.nav-list {
    width: 20%;
    display: calc();
    align-items: center;
}

.text-small {
    font-size: 18px;
    color: black
}

.firsthalf {

}

